.about {
  .container-col {
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;

    @media screen and (max-width: 1380px) {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  .card {
    align-items: center;
    background-image: $gradient-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 340px;
    padding: 0 2rem;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }

    &-title {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2;
      margin-top: 2rem;
      text-align: center;
    }
  }
}
