.home {
  color: $color-bg;
  height: 50vh;
  margin-bottom: 12rem;

  &-title {
    font-size: 4.25rem;
    position: relative;

    &-green {
      color: $color-primary-darker;
    }

    &::after {
      bottom: -2.5rem;
      content: "USŁUGI TRANSPORTOWE Jerzy Wiśniewski";
      font-size: 1.125rem;
      left: 3px;
      position: absolute;
    }
  }

  &-wrapper {
    background-color: $color-text-darker;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem;
    width: 40%;
  }

  &-image-wrapper {
    width: 60%;
  }
}
