.home {
  color: $color-bg;
  min-height: 50vh;
  margin-bottom: 5rem;

  &-news {
    background-image: $gradient-secondary;
    margin-bottom: 1rem;
    padding: 2rem;
    position: relative;
    width: 100%;
  }

  &-title {
    font-size: 4.25rem;
    margin-top: 2rem;
    position: relative;
    z-index: 9;

    &-green {
      color: $color-primary-darker;
    }

    &::after {
      bottom: -3.5rem;
      content: "USŁUGI TRANSPORTOWE Jerzy Wiśniewski";
      color: #00af50;
      font-size: 1.125rem;
      left: 13px;
      position: absolute;
      z-index: 10;
    }
  }

  &-wrapper {
    background-color: $color-text-darker;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &-image-wrapper {
    background-color: $color-text-darker;
    padding: 2rem;
    width: 50%;

    @media screen and (max-width: 1380px) {
      padding-left: 0;
    }

    @media screen and (max-width: 1024px) {
      padding-left: 2rem;
      width: 100%;
    }
  }

  &-icon-close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
