$color-text-darker: #1e2a20;
$color-text: #2e4031;
$color-bg: #fdfdfd;
$color-bg-darker: #c1c1c1;
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #92d14f;
$color-secondary: #ff9f3d;
$color-tertiary: #59a0f1;
$color-primary-darker: #00af50;
$color-secondary-darker: #f78253;
$color-tertiary-darker: #2954a5;

$gradient-primary: linear-gradient(
  to bottom right,
  $color-primary,
  $color-primary-darker
);

$gradient-secondary: linear-gradient(
  to bottom right,
  $color-secondary,
  $color-secondary-darker
);

$gradient-tertiary: linear-gradient(
  to bottom right,
  $color-tertiary,
  $color-tertiary-darker
);

$max-width: 1640px;

$radius: 3px;
