.navbar {
  position: relative;
  transition: width 0.3s ease-in-out;

  &-mobile {
    @media screen and (max-width: 1380px) and (min-width: 200px) {
      display: block;
    }
    display: none;
  }

  &-desktop {
    @media screen and (max-width: 1381px) {
      display: none;
    }
    display: block;
  }

  &-list {
    display: flex;
    padding: 1rem;
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 1024px) and (max-width: 1380px) {
      background-color: $color-bg;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.07);
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      margin-top: 0;
      position: fixed;
      padding-right: 1rem;
      top: 0;
      right: -40%;
      transform: translateX(-100%);
      width: 40%;
      z-index: 1000;
    }

    @media screen and (min-width: 200px) and (max-width: 1023px) {
      background-color: $color-bg;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.07);
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      margin-top: 0;
      position: fixed;
      padding-right: 1rem;
      top: 0;
      right: -100%;
      transform: translateX(-100%);
      width: 100%;
      z-index: 1000;
    }
  }

  &-item {
    align-items: center;
    display: flex;
    padding: 0.5rem 1rem;

    &--action {
      background-image: $gradient-secondary;
      border-radius: $radius;
      margin-left: 2rem;
      margin-top: 0;

      @media screen and (max-width: 1380px) and (min-width: 200px) {
        margin-left: 0.5rem;
        margin-top: 5rem;
      }

      &:last-child {
        margin-left: 0.5rem;
        margin-top: 0;

        @media screen and (max-width: 1380px) and (min-width: 200px) {
          margin-left: 0.5rem;
          margin-top: 0.5rem;
        }
      }

      a {
        border: none;
        color: $color-bg;
        font-weight: 400;

        svg {
          right: 1rem;
        }
      }
    }
  }

  &-link {
    border-bottom: $color-bg solid 2px;
    color: $color-text;
    font-weight: 500;

    &--active {
      border-bottom: $color-secondary solid 2px;
    }
  }

  &--action-link {
    color: $color-bg;
  }
}

.icon-nav {
  cursor: pointer;
  position: absolute;
  right: 2rem;

  @media screen and (max-width: 1381px) {
    display: block;
  }

  display: none;
}
